<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h2> Ganti Password</h2>
    <div class="row">
        <div class="card">
            <div class="card-header">Update Password</div>
            <div class="card-body">
                <div th:if="${!status}">
                    <span style="color: red">Password harus lebih dari 8 karakter serta mengandung huruf dan angka</span>
                </div>
                <form th:action="@{/user/updatePassword}" method="POST">
                    <label>Password Lama</label>
                    <input type="password" name="password" class="form-control"/>
                    <label>Password Baru</label>
                    <input type="password" name="password" class="form-control"/>

                    <label>Konfirmasi Password Baru</label>
                    <input type="password" name="password" class="form-control"/>
                    <br>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
