<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h2>Daftar Seluruh Hotel</h2>
<table class="table">
    <thead>
    <tr>
        <th>No</th>
        <th>ID hotel</th>
        <th>Nama hotel</th>
        <th>Alamat hotel</th>
        <th>Nomor telepon</th>
        <th>Aksi</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel, iterationStatus : ${listHotel}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${hotel.id}"></td>
        <td th:text="${hotel.namaHotel}"></td>
        <td th:text="${hotel.alamat}"></td>
        <td th:text="${hotel.nomorTelepon}"></td>
        <td>
            <a th:href="@{/hotel/view?idHotel=}+${hotel.id}" class="btn btn-primary">View Hotel</a>
            <a th:href="@{/hotel/change/}+${hotel.id}" class="btn btn-outline-primary">Change Data Hotel</a>
            <a th:href="@{/hotel/delete/}+${hotel.id}" class="btn btn-danger">Delete Hotel</a>
        </td>

    </tr>
    </tbody>
</table>
<div class="container-fluid">
<a href="/" class="btn btn-dark">Kembali</a>
</div>
</body>
</html>